page-greet-page {
  background-image: url('../../img/logo.gif');
}
.getstart {
background-image: url('../assets/img/logo.gif');
background-repeat: no-repeat;
     background-size: cover;
}

.text{
  padding-left: 40%;
}

.pad{
  margin-top: 50%;
  margin-left: 35%;
  font-size: 150%;
}

.center{
     text-align:center;
}
